.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .imgStyle {
    @apply hidden;
  }
}

.cartoonImgLogin {
  background: url('/assets/login-bg.jpg');
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: 1;
}

.cartoonImgRegister {
  background: url('/assets/register-bg.jpg') no-repeat;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: 1;
}
